@use "/src/scss/variables" as *;

.file-upload {
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	&__label {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 54px;
		background-color: $white;
		border-bottom: 2px solid $black;
		font-size: 3.2em;
		color: $gray;
		cursor: pointer;
		&-error {
			color: $lightRed;
			border-bottom: 2px solid $red;
		}
	}

	&__text {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		background-color: $black;
		border-radius: 8px;
		flex-shrink: 0;

		&-error {
			background-color: $red;
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
		}
	}
}
