@use "../variables" as *;

.footer {
	padding: 32px 48px;
	color: $white;
	background-color: $black;
	display: flex;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 250px;
	grid-template-rows: 1fr 70px;
	grid-template-areas:
		"form logo"
		"socials logo";

	&__form {
		grid-area: form;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		.form-group {
			display: flex;
			flex-direction: column;
			gap: 8px;

			label {
				font-size: 2em;
			}

			input {
				border: none;
				outline: none;
				color: $white;
				font-family: "NeueMachina";
				font-size: 4.6em;
				font-weight: bold;
				border-bottom: 3px solid $white;
				background-color: $black;
				width: 100%;
			}
		}
	}

	&__logo {
		grid-area: logo;
		font-family: "NeueMachina";
		font-size: 3.6em;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: end;
	}

	&__socials {
		grid-area: socials;
		display: flex;
		justify-content: space-between;

		&__button {
			height: 70px;
			width: 300px;
			border-radius: 35px;
			outline: none;
			border: none;
			cursor: pointer;
		}
		.tiktoc {
			background-color: $tiktokBg;
		}

		.vkontakte {
			background-color: $vkontakteBg;
		}

		.telegram {
			background-color: $telegramBg;
		}
	}
}
