@use "../variables" as *;

.frame2 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	background-color: $white;
	position: relative;
	overflow: hidden;
	min-height: 400px;

	&__header {
		padding: 0;
		margin: 0;
		font-size: 9.6em;
		text-align: center;
		font-family: "NeueMachina";
		z-index: 10;
	}

	&__paragraph {
		font-size: 2em;
		max-width: 700px;
		text-align: center;
		z-index: 10;
	}

	&__image {
		position: absolute;
		bottom: 0;
		z-index: 1;
		user-select: none;
		max-width: min(45%, 394px);
		width: 100%;
		height: auto;

		img {
			display: block;
			height: auto;
			object-fit: contain;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
			transform: scaleX(-1);
		}
	}
}
