@use "/src/scss/variables" as *;

.header {
	height: 64px;
	background-color: $white;
	border: 1px solid $whiteBorder;
	border-top: none;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-family: "NeueMachina";
		font-size: 3.6em;
		font-weight: bold;
		padding-left: 48px;
	}
	&__hamburger {
		display: none !important;
		&-text {
			display: block;
			width: 100px;
			height: 1px;
			background: $white;
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100px;
				height: 1px;
				background: $white;
				left: 0;
			}

			&::before {
				top: -8px;
			}
			&::after {
				bottom: -8px;
			}
		}
	}

	&__navigator {
		display: flex;
		&-link {
			cursor: pointer;
			font-size: 2em;
			padding: 0 16px;
			text-decoration: none;
			color: $black;
		}
	}

	&__socials {
		height: 40px;
		padding-right: 48px;
		&-link {
			display: inline-block;
			transition: 0.15s ease;
			padding: 0 4px;

			&:hover {
				opacity: 0.8;
			}

			img {
				display: block;
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 1439px) {
	.header {
		&__logo {
			font-size: 3em;
			padding-left: 36px;
		}

		&__navigator {
			&-link {
				font-size: 1.6em;
				padding: 0 16px;
			}
		}
	}
}

@media (max-width: 1040px) {
	.header {
		&__logo {
			font-size: 2.2em;
			padding-left: 12px;
		}

		&__navigator {
			&-link {
				font-size: 1.3em;
				padding: 0 8px;
			}
		}
	}
}

@media (max-width: 840px) {
	.header {
		&__logo {
			font-size: 2em;
			padding-left: 8px;
		}

		&__navigator {
			&-link {
				font-size: 1.2em;
				padding: 0 4px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		justify-content: space-around;
		&__logo {
			font-size: 3em;
			padding: 0 24px;
		}

		&__hamburger {
			display: flex !important;
		}

		&__navigator {
			display: none;
		}

		&__socials {
			display: none;
		}
	}
}

@media (max-width: 460px) {
	.header {
		&__logo {
			font-size: 2.2em;
			padding: 0 12px;
		}
	}
}
