@use "../variables" as *;

.radio-button {
	display: inline-flex;
	align-items: center;
	position: relative;
	height: 44px;
	padding: 0 20px 0 48px;
	border: 2px solid $black;
	border-radius: 20px;
	background-color: $white;
	font-family: "Raleway", sans-serif;
	font-size: 2.4em;
	color: $black;
	cursor: pointer;
	user-select: none;
	transition: all 0.15s ease;

	&::before {
		content: "";
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid $black;
		background-color: $white;
		transition: all 0.15s ease;
	}

	&:hover {
		border-color: $purple;
		background-color: $purple;
		color: $white;

		&::before {
			border-color: $purple;
		}
	}
}

.radio-button__input:checked + .radio-button {
	background-color: $black;
	border-color: $black;
	color: $white;

	&::before {
		border-color: $white;
		background-color: $black;
		border-width: 4px;
	}

	&:hover {
		&::before {
			background-color: $purple;
		}
	}
}

.radio-button__input:focus-visible + .radio-button {
	outline: 2px solid $purple;
	outline-offset: 2px;
}

.radio-button__input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}
