@use "../variables" as *;

.reacts {
	max-width: 1440px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;

	&__cloud {
		height: 48px;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border-radius: 24px;
		color: $black;
		font-size: 2em;
	}
}

@media (max-width: 1040px) {
	.reacts {
		&__cloud {
			height: 36px;
			padding: 0 8px;
			font-size: 1.6em;
		}
	}
}
