@use "../variables" as *;

.reacts {
	max-width: 1440px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	&__cloud {
		height: 48px;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border-radius: 24px;
		color: $black;
		font-size: 2em;
	}
}
