@font-face {
	font-family: "Raleway";
	src: url("/src/assets/fonts/Raleway-Regular.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "NeueMachina";
	src: url("/src/assets/fonts/NeueMachina-Regular.woff2") format("woff2");
	font-display: swap;
}
