$black: #000000;
$white: #ffffff;
$whiteBorder: #f2f2f2;
$purple: #9e00ff;
$pink: #f9efff;
$gray: #b3b3b3;
$red: #ff004c;
$lightRed: #ffb3ca;

$tiktokBg: #0f0f0f;
$vkontakteBg: #4d76a1;
$telegramBg: #34aadf;
$purpleShadow: #9e00ff4d;
