@use "./variables" as *;
@use "./fonts";

@use "./components/header";
@use "./components/frame2";
@use "./components/reacts";
@use "./components/quiz";
@use "./components/carousel";
@use "./components/footer";
@use "./components/modal";

@use "./components/checkbox";
@use "./components/radiobutton";

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	font-family: "Raleway";
	font-size: 10px;
	color: $black;
	background-color: $white;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $pink;
}

.button {
	height: 45px;
	min-width: 230px;
	border-radius: 16px;
	background-color: $black;
	color: $white;
	border: none;
	outline: none;
	transition: 0.15s ease;
	font-size: 2em;
	cursor: pointer;
	&:hover {
		background-color: $purple;
	}
}

.button-wide {
	width: 100%;
	font-size: 3.2em;
	height: 62px;
}
