@use "./fonts";

$black: #000000;
$white: #ffffff;
$whiteBorder: #f2f2f2;
$purple: #9e00ff;
$pink: #f9efff;

$tiktokBg: #0f0f0f;
$vkontakteBg: #4d76a1;
$telegramBg: #34aadf;
$purpleShadow: #9e00ff4d;

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	font-family: "Raleway";
	font-size: 10px;
	color: $black;
	background-color: $white;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $pink;
}

.header {
	height: 64px;
	background-color: $white;
	border: 1px solid $whiteBorder;
	border-top: none;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-family: "NeueMachina";
		font-size: 3.6em;
		font-weight: bold;
		padding-left: 48px;
	}

	&__navigator {
		display: flex;
		&__button {
			cursor: pointer;
			font-size: 2em;
			padding: 0 16px 0 16px;
		}
	}

	&__contact {
		height: 45px;
		min-width: 230px;
		border-radius: 16px;
		background-color: $black;
		color: $white;
		border: none;
		outline: none;
		transition: 0.15s ease;
		cursor: pointer;
		&:hover {
			background-color: $purple;
		}
	}

	&__socials {
		height: 40px;
		padding-right: 48px;
		&__link {
			display: inline-block;
			transition: 0.15s ease;
			padding: 0 4px;

			&:hover {
				opacity: 0.8;
			}

			img {
				display: block;
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
		}
	}
}

.frame2 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	background-color: $white;
	position: relative;
	overflow: hidden;
	min-height: 400px;

	&__header {
		padding: 0;
		margin: 0;
		font-size: 9.6em;
		text-align: center;
		font-family: "NeueMachina";
		z-index: 10;
	}

	&__paragraph {
		font-size: 2em;
		max-width: 700px;
		text-align: center;
		z-index: 10;
	}

	&__image {
		position: absolute;
		bottom: 0;
		z-index: 1;
		user-select: none;
		max-width: min(45%, 394px);
		width: 100%;
		height: auto;

		img {
			display: block;
			height: auto;
			object-fit: contain;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
			transform: scaleX(-1);
		}
	}
}

.reacts {
	max-width: 1440px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	&__cloud {
		height: 48px;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border-radius: 24px;
		color: $black;
		font-size: 2em;
	}
}

.quiz {
	max-width: 1440px;
	display: grid;
	grid-template-columns: 300px 1fr;
	margin-top: 64px;
	gap: 16px;

	&__story {
		background-color: $black;
		border-top-right-radius: 32px;
		border-bottom-right-radius: 32px;
		color: $white;
		font-size: 1.6em;

		&__header {
			padding: 10px 24px;
			margin: 0;
		}

		&__paragraph {
			padding: 10px 24px;
			margin: 0;
		}
	}

	&__test {
		background-color: $white;
		border-radius: 32px;
		padding: 32px;

		&__header {
			font-family: "NeueMachina";
			font-size: 7.2em;
			font-weight: bold;
			margin: 0;
		}

		&__paragraph {
			font-size: 2em;
		}

		&__tags {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			padding-bottom: 24px;

			div {
				height: 40px;
				border: 2px solid $black;
				border-radius: 20px;
				font-size: 2.4em;
				padding: 0 32px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.carousel {
	width: 1440px;
	margin: 96px 0;
	height: 464px;
	position: relative;

	.swiper-button-prev,
	.swiper-button-next {
		width: 100px;
		height: 100px;
		background-color: $white;
		font-size: 16px;
		border-radius: 32px;
		box-shadow: 0px 24px 35px 0px $purpleShadow;

		svg {
			width: 16px;
			height: 32px;
			color: $black;
		}
	}

	.slide {
		width: 352px;
		height: 100%;
		border-radius: 32px;
		background-color: orange;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		&__message {
			background-color: $white;
			border-radius: 24px;
			margin: 8px;
			padding: 16px;
			position: relative;

			&__avatar {
				position: absolute;
				top: -44px;
				right: 120px;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				border: 8px solid $white;
				background-color: $whiteBorder;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
			}

			&__header {
				text-align: center;
				font-size: 2.4em;
				margin-top: 58px;
			}

			&__paragraph {
				font-size: 1.6em;
			}
		}
	}
}

.footer {
	padding: 32px 48px;
	color: $white;
	background-color: $black;
	display: flex;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 250px;
	grid-template-rows: 1fr 70px;
	grid-template-areas:
		"form logo"
		"socials logo";

	&__form {
		grid-area: form;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		.form-group {
			display: flex;
			flex-direction: column;
			gap: 8px;

			label {
				font-size: 2em;
			}

			input {
				border: none;
				outline: none;
				color: $white;
				font-family: "NeueMachina";
				font-size: 4.6em;
				font-weight: bold;
				border-bottom: 3px solid $white;
				background-color: $black;
				width: 100%;
			}
		}
	}

	&__logo {
		grid-area: logo;
		font-family: "NeueMachina";
		font-size: 3.6em;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: end;
	}

	&__socials {
		grid-area: socials;
		display: flex;
		justify-content: space-between;

		&__button {
			height: 70px;
			width: 300px;
			border-radius: 35px;
			outline: none;
			border: none;
			cursor: pointer;
		}
		.tiktoc {
			background-color: $tiktokBg;
		}

		.vkontakte {
			background-color: $vkontakteBg;
		}

		.telegram {
			background-color: $telegramBg;
		}
	}
}

.button {
	height: 45px;
	min-width: 230px;
	border-radius: 16px;
	background-color: $black;
	color: $white;
	border: none;
	outline: none;
	transition: 0.15s ease;
	font-size: 2em;
	cursor: pointer;
	&:hover {
		background-color: $purple;
	}
}
