@use "/src/scss/variables" as *;
@use "./fonts";

@use "/src/scss/components/header";
@use "/src/scss/components/title";
@use "/src/scss/components/reacts";
@use "/src/scss/components/quiz";
@use "/src/scss/components/carousel";
@use "/src/scss/components/footer";
@use "/src/scss/components/modal";

@use "/src/scss/components/checkbox";
@use "/src/scss/components/radiobutton";
@use "/src/scss/components/fileUploader";

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	font-family: "Raleway";
	font-size: 10px;
	color: $black;
	background-color: $white;
	min-width: 360px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $pink;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 45px;
	min-width: 230px;
	border-radius: 16px;
	background-color: $black;
	color: $white;
	border: none;
	outline: none;
	transition: all 0.15s ease;
	font-size: 2em;
	cursor: pointer;
	&:hover {
		background-color: $purple;
	}
}

.button-wide {
	width: 100%;
	font-size: 3.2em;
	height: 62px;
}

.body--menu-open {
	overflow: hidden;
}

@media (max-width: 768px) {
	.button-hide {
		display: none;
	}
}

@media (max-width: 500px) {
	.button-compact {
		min-width: 150px;
		width: 50%;
	}
}
